# Build folders
/build/
/cmake-build-*/

# Compiled objects and binaries
*.o
*.obj
*.exe
*.out
*.a
*.so
*.dll

# Logs and temp data
*.log
servers.txt
test_servers.txt
test_servers.txt.log

# IDE
.vscode/
.idea/
*.swp
*.user
